<div class="container">
  <div class="side-bar">
    <app-sidebar> </app-sidebar>
  </div>
  <div class="content">
    <app-header></app-header>

    <div class="block__header">
      <div class="blockh__header--title">
        <h2> Dashboard</h2>
        <small class="welcome__message">Welcome to Hepatitis Model System</small>
      </div>
      <div class="block__header--path">
        <!--<i class="zmdi zmdi-home"> -->
        <a href="#" routerLink="/dashboard"> Home</a> / <span style="color: #636c72;">All Patient</span>
      </div>
    </div>

    <div class="patient_card">
      <h2 class="patient_header">
        <strong style="color: rgb(117, 249, 253)"> New </strong> Patient List
      </h2>
      <table>
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Address</th>
            <th>Age</th>
            <th>Number</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Bamidele Isaac</td>
            <td>Obafemi Awolowo University</td>
            <td>42</td>
            <td>444-444-444</td>
            <td><span class="high__risk">Positive</span></td>
          </tr>
          <tr>
            <td>2</td>
            <td>Idris Babatunde</td>
            <td>Obafemi Awolowo University</td>
            <td>45</td>
            <td>5555-5555-5555</td>
            <td><span class="low__risk">Negative</span></td>
          </tr>
          <tr>
            <td>3</td>
            <td>Isaac Salem</td>
            <td>Obafemi Awolowo University</td>
            <td>34</td>
            <td>8787-7878-8787</td>
            <td><span class="low__risk">Negative</span></td>
          </tr>
          <tr>
            <td>2</td>
            <td>Idris Babatunde</td>
            <td>Obafemi Awolowo University</td>
            <td>45</td>
            <td>5555-5555-5555</td>
            <td><span class="low__risk">Negative</span></td>
          </tr>
          <tr>
            <td>3</td>
            <td>Isaac Salem</td>
            <td>Obafemi Awolowo University</td>
            <td>34</td>
            <td>8787-7878-8787</td>
            <td><span class="low__risk">Negative</span></td>
          </tr>
          <tr>
            <td>2</td>
            <td>Idris Babatunde</td>
            <td>Obafemi Awolowo University</td>
            <td>45</td>
            <td>5555-5555-5555</td>
            <td><span class="low__risk">Negative</span></td>
          </tr>
          <tr>
            <td>3</td>
            <td>Isaac Salem</td>
            <td>Obafemi Awolowo University</td>
            <td>34</td>
            <td>8787-7878-8787</td>
            <td><span class="low__risk">Negative</span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
