<section class="container-doctors">
  <div class="side-bar">
    <app-sidebar> </app-sidebar>
  </div>

  <!--this is the container for all doctors content-->
  <div class="content">
    <app-header></app-header>

    <div class="block__header">
      <div class="block__header--title">
        <h2> All Doctors</h2>
        <small class="welcome__message">Welcome to Hepatitis Model System</small>
      </div>
      <div class="block__header--path">
        <!--<i class="zmdi zmdi-home"> -->
        <a href="#" routerLink="/dashboard"> Home</a> / <span style="color: #272f35;">All Doctors</span>
      </div>
    </div>
    <div class="heading">
      <p class="heading-paragraph">List of all permanent Doctors</p>
    </div>
    <div class="doctor-card">
      <div class="card">
        <img src="../../../assets/images/doctor.png" alt="" class="card-image">
        <hr class="card-rule">
        <h4 class="card-name">Dr. Aanu Olabowale</h4>
        <p class="card-title">Hepatology</p>
      </div>

      <div class="card">
        <img src="../../../assets/images/doctor.png" alt="" class="card-image">
        <hr class="card-rule">
        <h4 class="card-name">Dr. Niyi Awofisayo</h4>
        <p class="card-title">Hepatology</p>
      </div>

      <div class="card">
        <img src="../../../assets/images/doctor.png" alt="" class="card-image">
        <hr class="card-rule">
        <h4 class="card-name">Dr. Adesanmi Adesanya</h4>
        <p class="card-title">Hepatology</p>
      </div>

      <div class="card">
        <img src="../../../assets/images/doctor.png" alt="" class="card-image">
        <hr class="card-rule">
        <h4 class="card-name">Dr. Tosin Steam</h4>
        <p class="card-title">Hepatology</p>
      </div>
    </div>
  </div>
</section>
