<app-navbar></app-navbar>

<div class="container">
  <main class="profile">
    <div class="profile__background">
    </div>
    <img src="../../../assets/images/doctor_girl.jpg" alt="pfofile_image">
    <div class="profile__content">
      <div class="profile__content-1">
        <ul>
          <li class="profile_name">Bamidele Isaac</li>
          <li class="profile_speciality">Hepatologist</li>
          <li class="profile_common">Male</li>
        </ul>
      </div>
      <div class="profile__content-2">
        <ul>
          <li class="profile_common"><i class="zmdi zmdi-pin-drop"></i>&nbsp;&nbsp;&nbsp;&nbsp;Obafemi Awolowo University</li>
          <li class="profile_common"> <i class="zmdi zmdi-email"></i> &nbsp;&nbsp;&nbsp;Bamideleisaac@gmail.com</li>
          <li class="profile_common"><i class="zmdi zmdi-notifications"></i>&nbsp;&nbsp;&nbsp;&nbsp;08168456790</li>
        </ul>
      </div>
    </div>
  </main>
</div>
