
.profile{
  border: 0.5px solid #a3a3a3;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  width: 75%;
  margin: 0 auto;
  margin-top: 20px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  background-color: #fff;

  &__background{
    height: 200px;
    background-image: url('../../../assets/images/profile_bg.jpg'); 
    background-size: cover;
    background-position: center;
  }
  &__content{
    margin: 35px 50px 50px 50px;
    display: flex;
    justify-content: space-between;
  }
  &_name{
    font-size: 30px;
    color: rgba(0,0,0,.9);
    font-family:'Montserrat', Arial, Tahoma, sans-serif;
  }
  &_speciality{
    font-size: 20px;
    font-family: "Realway", sans-serif;
    color: rgba(0,0,0,.8)
  }
  &_common{
    font-size: 15px;
    font-weight: bold;
    color: rgba(0,0,0,.75);
    font-family: 'Montserrat', Arial, Tahoma, sans-serif;
  }
}
img{
  border-radius: 50%;
  border: 5px solid #fff;
  width: 150px;
  height: 150px;
  margin-top: -100px;
  margin-left: 30px;
  //position: relative;
  top: -100px;
  object-fit: cover;
}
li{
  list-style: none;
  line-height: 30px;
}